# Setting Up

In [2]:
import pandas as pd
import sys
import os

sys.path.append(os.path.abspath(os.path.join('..')))
from Utils.db_connect import get_connection

try:
  engine = get_connection()
  print("Connection to the database was successful.")
except Exception as e:
  print(f"An error occurred while connecting to the database: {e}")
  
query = "SELECT TOP 10 * FROM dbo.housing;"
df = pd.read_sql(query, engine)
df.head()

Connection to the database was successful.

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.230003,37.880001,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.220001,37.860001,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.239998,37.849998,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.250000,37.849998,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.250000,37.849998,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY